
*{
    color:#0C7489
}

#contentContainer
{
    width:70%;
    display:flex;
    flex-direction: column;
    background-color: #13505B;

}
#titleCard
{
    width:100%;
    height:auto;
    background-color:#13505B;
    
}
html, body{
    background-color:#13505B
}
#titleHeader
{
    align-items: center;
    margin:auto;
    margin-top: 2em;
    width:80%;
    background-color:#D7D9CE;
    text-align: center;
    border-radius: 25px;
    margin-bottom:3.5em;
}
#title{
    padding:1em
}
#postCreation, #feed, #leaderBoard{
    background-color: #D7D9CE;
    border-radius: 25px;
    text-align: center;
}
#postCreation{
    margin-bottom: 2em;
}
#feed{
    height:50em;
    margin-bottom:15em;
}
#leaderBoard{
    margin-left:3em;
    width:30%;


}
#mondoContainer
{
    margin-left:3em;
    display: flex;
    flex-direction: row;
    margin-right:3em;
}